@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import '../../utils/variables';

body {
	font-family: 'Roboto', sans-serif;
	color: var(--main-color);
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.stopwatchBody {
		width: 100%;
		align-self: center;
		display: flex;
		justify-content: center;
	}
}
