.container {
	height: 70px;
	max-width: 1200px;
	margin: 0 auto;
	border-bottom: 2px solid rgb(248, 246, 246);
	text-align: center;
	display: grid;
}

.header {
	align-self: center;
	font-size: 2.5rem;
}
img {
	width: 30px;
	height: 30px;
}

.react {
	color: rgb(0 216 255);
}

.redux {
	color: rgb(118 74 188);
}
