@import '../../utils/functions';
@import '../../utils/variables';

.container {
	max-width: 1350px;
	margin: 0 auto;
	border-bottom: 2px solid var(--border-color);
	text-align: center;
	display: grid;

	.header {
		align-self: center;
		font-size: vw(34);
		padding: 20px;

		.react {
			color: var(--react-color);
		}

		.redux {
			color: var(--redux-color);
		}

		.title {
			display: inline-block;
		}
	}

	img {
		width: vw(24);
		height: vw(24);
	}
}

@media (max-width: 524px) {
	.container {
		.header {
			padding: 10px;
			font-size: 26px;

			.title {
				display: block;
			}

			img {
				width: 19px;
				height: 19px;
			}
		}
	}
}
