:root {
	--main-color: #000000;

	--milliseconds-color: #ff0000;
	--seconds-color: #ffaa00;
	--minutes-color: #14d31e;
	--hours-color: #0b7def;
	--title-color: #b0afaf;

	--border-color: #f8f6f6;

	--react-color: #00d8ff;
	--redux-color: #764abc;
}
