@import './../../../utils/functions.scss';

.stopwatch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	font-family: 'Roboto', sans-serif;
	box-shadow: rgba(29, 94, 159, 0.228) 0px 8px 24px;
	max-width: vw(550);
	min-width: 350px;
	width: 100%;
	height: 300px;
	border-radius: 25px;
	// margin: 0 vw(10);
}
