@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.container {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100vw;
}

.stopwatchBody {
	align-self: center;
	display: flex;
	justify-content: center;
}
